.gka-base {
    
    /* background-size: contain;*/

    animation-timing-function: steps(1);
    animation-iteration-count: infinite;

    background-repeat: no-repeat;

    animation-fill-mode: forwards;

    /* Play once*/
    /* animation-iteration-count: 1; */
}

.animation {
    animation-name: keyframes;
    animation-duration: 0.8s;
    background-image: url("./img/sprites.png");
}

@-webkit-keyframes keyframes {
    0% {
        width: 238px;
        height: 239px;
        transform: translate(94px, 41px);
        background-position: -3578px 0;
    }
    5.00% {
        width: 177px;
        height: 245px;
        transform: translate(147px, 35px);
        background-position: -516px 0;
    }
    10.00% {
        width: 169px;
        height: 238px;
        transform: translate(155px, 42px);
        background-position: 0 0;
    }
    15.00% {
        width: 188px;
        height: 206px;
        transform: translate(136px, 75px);
        background-position: -1049px 0;
    }
    20.00% {
        width: 233px;
        height: 164px;
        transform: translate(91px, 120px);
        background-position: -3345px 0;
    }
    25.00% {
        width: 212px;
        height: 225px;
        transform: translate(112px, 58px);
        background-position: -2235px 0;
    }
    30.00% {
        width: 172px;
        height: 238px;
        transform: translate(152px, 45px);
        background-position: -169px 0;
    }
    35.00% {
        width: 231px;
        height: 245px;
        transform: translate(93px, 40px);
        background-position: -3114px 0;
    }
    40.00% {
        width: 246px;
        height: 232px;
        transform: translate(78px, 51px);
        background-position: -3816px 0;
    }
    45.00% {
        width: 225px;
        height: 230px;
        transform: translate(99px, 50px);
        background-position: -2662px 0;
    }
    50.00% {
        width: 202px;
        height: 250px;
        transform: translate(122px, 30px);
        background-position: -1825px 0;
    }
    55.00% {
        width: 200px;
        height: 243px;
        transform: translate(124px, 37px);
        background-position: -1625px 0;
    }
    60.00% {
        width: 199px;
        height: 256px;
        transform: translate(125px, 24px);
        background-position: -1426px 0;
    }
    65.00% {
        width: 215px;
        height: 241px;
        transform: translate(109px, 39px);
        background-position: -2447px 0;
    }
    70.00% {
        width: 189px;
        height: 219px;
        transform: translate(135px, 61px);
        background-position: -1237px 0;
    }
    75.00% {
        width: 227px;
        height: 213px;
        transform: translate(97px, 67px);
        background-position: -2887px 0;
    }
    80.00% {
        width: 208px;
        height: 174px;
        transform: translate(116px, 106px);
        background-position: -2027px 0;
    }
    85.00% {
        width: 175px;
        height: 197px;
        transform: translate(149px, 83px);
        background-position: -341px 0;
    }
    90.00% {
        width: 178px;
        height: 222px;
        transform: translate(146px, 58px);
        background-position: -871px 0;
    }
    95.00% {
        width: 178px;
        height: 236px;
        transform: translate(146px, 44px);
        background-position: -693px 0;
    }
    100% {
        width: 178px;
        height: 236px;
        transform: translate(146px, 44px);
        background-position: -693px 0;
    }
}
